* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: rgb(249, 229, 232);
}
.container {
  padding: 25px;
  margin: 1%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.left {
  padding: 45px;
  border: 25px solid pink;
}
p:hover {
  font-size: 1.2rem;
}
.middle {
  height: 100%;
}
video {
  border: 25px solid pink;
}
.right {
  border: 25px solid pink;
  padding: 35px;
}
iframe {
  margin-top: 10px;
  margin-right: 10px;
}
iframe:hover {
  transform: scale(2) translateX(20px) translateY(-20px);
}
a {
  text-decoration: none;
  color: rgb(245, 115, 137);
  font-size: 1.1rem;
  font-weight: bold;
}
a:hover {
  color: rgb(67, 12, 21);
}
