* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}
.container {
  padding: 5%;
  margin: 75px;
  background-image: url(images/tapete.png);
}
.videoImages {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all 1s;
  animation: moveVideos 8s 4s linear infinite;
  animation-direction: alternate;
  z-index: 1;
}
.videos {
  position: absolute;
  top: 21%;
  left: 11.25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 13px;
  transition: all 1s;
  animation: moveVideos 8s 4s linear infinite;
  animation-direction: alternate;
  z-index: 2;
}
@keyframes moveVideos {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100px);
  }
  60% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}
.break {
  width: 200px;
  height: 160px;
}

.languages {
  position: absolute;
  top: 19%;
  left: 11%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  transition: all 1s;
  z-index: 2;
}
.language {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  width: 640px;
  padding: 40px;
  text-align: center;
  animation: showMovies 3s ease-in-out forwards;
}

@keyframes showMovies {
  0% {
    padding: 100px;
    transform: translateY(0);
  }
  60% {
    padding: 25px;
    transform: translateY(0);
  }
  100% {
    padding: 25px;
    transform: translateY(200px);
  }
}

.info {
  margin-top: 10%;
  font-size: 1.25rem;
  text-align: center;
  padding: 5%;
  background-color: rgba(254, 254, 254, 0.5);
  border-radius: 15px;
  color: black;
}

.nextPage {
  margin-top: 25px;
}
.nextPage a {
  text-decoration: none;
  font-family: 3rem;
  color: orangered;
  font-weight: bold;
}
.nextPage a:hover {
  color: dodgerblue;
}
.news {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
hr {
  border: none;
  background: rgb(61, 40, 6);
  height: 8px;
  position: relative;
  margin-bottom: -1rem;
  left: -10%;
  width: 40%;
  display: block;
  box-shadow: 1rem 1rem 0 0 rgb(247, 88, 96);
  margin-left: 40%;
  margin-right: 40%;
}
