* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: url(https://cdn.pixabay.com/animation/2025/01/26/02/43/02-43-05-994_512.gif);
  background-repeat: repeat;
  background-size: cover;
}
.container {
  padding: 1.1%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.25rem;
  height: 90%;
}
.video {
  margin: 1.1%;
  padding: 5% 0.5% 1.5% 0.5%;
  background-image: url(https://cdn.pixabay.com/animation/2025/01/25/14/10/14-10-25-92_512.gif);
  background-repeat: repeat-x;
  background-size: 5%;
  background-color: rgba(254, 140, 140, 0.4);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 50px;
  height: 40%;
}
.text {
  width: 400px;
}
.videos {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}
.text2 {
  width: 400px;
}
.link {
  margin-top: 50px;
}
#link {
  text-decoration: none;
  color: rgb(246, 246, 136);
}
#link:hover {
  color: dodgerblue;
}
.blue {
  color: dodgerblue;
  font-weight: 700;
}
