@import url("https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 150vh;
  background-color: white;
}
.container {
  margin: 1%;
  font-family: "Macondo Swash Caps", cursive;
  background-image: url("images/samuraiBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 1.4rem;
}
h3 {
  margin-bottom: 20px;
  margin-top: 35px;
}
.top {
  text-align: center;
  margin-bottom: 10px;
}
h1 {
  margin-top: 15px;
}
#top {
  margin-top: -2%;
  width: 50%;
}
.videos {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 5%;
}
iframe {
  border-radius: 50%;
}
.left {
  margin-right: 7.5%;
}
.left div:nth-child(2) {
  transform: translateX(100px);
}
.left div:nth-child(4) {
  transform: translateX(100px);
}
.right {
  margin-left: 7.5%;
}
.right div:nth-child(2) {
  transform: translateX(-100px);
}
.right div:nth-child(4) {
  transform: translateX(-100px);
}

#link {
  color: white;
  text-decoration: none;
}
#link:hover {
  color: red;
  font-weight: bold;
}
